/* universal selector style */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* border: 1px solid ; */
}
ul {
   list-style: none;
}

a {
   text-decoration: none;
}

button {
   border: none;
   outline: none;
}

header .active > span {
   color: #ea1d5d;
}


body {
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   border: 1px solid #eee;
   background-color: #ccc;
}

html {
   background: #fff;
}

.StopScroll {
	height: 100%;
	overflow: hidden;
}

